@import "bootstrap.less";
@import "../theme/Cerulean/bootswatch.less";
@import "../theme/Cerulean/variables.less";
@import "../theme/labs-fixed.less";
@import "../theme/Cerulean/titles-variables.less";
@import "../theme/titles-style.less";

// Labs
// buttons' icons color
.btn-primary > [class*="icon-"], .btn-danger > [class*="icon-"], .btn-warning > [class*="icon-"] {
/*
  background-image: url(@iconWhiteSpritePath);
  */
  /* font-awesome
  background-image: url("@{iconWhiteSpritePath}");
  */
}

// Button Group
.btn-group > .dropdown-menu a {
    color: @linkColor;
}
.btn-group > .dropdown-menu a:hover {
    color: @white;
}

.btn:hover {
  background-position: 0 -40px;
}
