@import "../../bootstrap/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import "../labs-fixed.less";
@import "../dark-background.less";
@import "./titles-variables.less";
@import "../titles-style.less";

@labsBlockBackgroundColor: @grayDark;


@navbarSearchBackground:          lighten(@navbarBackground, 70%);
@navbarSearchBackgroundFocus:     @white;
@navbarSearchBorder:              darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor:    @white;
@navbarBrandColor:                @navbarLinkColor;

.navbar-search {
    .navbarVerticalAlign(@baseLineHeight); // Vertically center in navbar
}

.navbar .brand{
	padding-top: 0px;
	padding-bottom: 0px;
	
}

.navbar .nav > li > a{
	padding: 0 0 0 0;
	padding-top:5px;
}


