@import "../../bootstrap/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import "../labs-fixed.less";
@import "./titles-variables.less";
@import "../titles-style.less";

@labsBlockBackgroundColor: #AEAD8E;

@labsCkeipHoverBackgroundColor: @linkColor;


.lastMessage {

	hr {
	  border-bottom: 1px solid darken(@labsBlockHeaderBackgroundColor, 10%);
	}
}


// Labs
// buttons' icons color
.btn > [class*="icon-"], .btn-danger > [class*="icon-"] {
/*
  background-image: url(@iconWhiteSpritePath);
  */
  /* font-awesome
  background-image: url("@{iconWhiteSpritePath}");
  */
}

// search input in nav bar
.navbar-form input, .navbar-form .btn {
    margin-top: 15px;
}


// Button Group
.btn-group > .dropdown-menu {
    background-color: @linkColor;
    color: @textColor;
}
.btn-group > .dropdown-menu a:hover {
    background-color: darken(#90A38F, 10%);
    color: @linkColor;
}

section.labsnews {
	border: 1px solid lighten(#AEAD8E, 10%);
}

.labsNewsDate > small{
	color: #F5F3DC;
}

#FKtopContent, #FKfooter {
	background-color: none;
	background: none;
}

#FKfooter_bottom{
	background-image: none;
}