@import "bootstrap.less";
@import "../theme/United/bootswatch.less";
@import "../theme/United/variables.less";
@import "../theme/labs-fixed.less";
@import "../theme/United/titles-variables.less";
@import "../theme/titles-style.less";


#FKerrorLogin {
  color: lighten(@orange, 20%);
}

// Labs
// buttons' icons color
.btn-primary > [class*="icon-"], .btn-danger > [class*="icon-"], .btn-warning > [class*="icon-"] {
/*
  background-image: url(@iconWhiteSpritePath);
  */
  /* font-awesome
  background-image: url("@{iconWhiteSpritePath}");
  */
}
