@import "bootstrap.less";
@import "../theme/Superhero/bootswatch.less";
@import "../theme/Superhero/variables.less";
@import "../theme/labs-fixed.less";
@import "../theme/dark-background.less";
@import "../theme/Superhero/titles-variables.less";
@import "../theme/titles-style.less";



@labsBlockBackgroundColor: @blue; // see .breadcrumb background-color

@labsContentBackgroundColor: #2A333C;

.navbar-form input, .navbar-form .btn {
    margin-top: 28px;
}

.navbar .brand{
	padding-top: 0px;
	padding-bottom: 10px;
	
}

.navbar .nav > li > a{
	padding: 0 0 0 0;
	padding-top:5px;
}

.navbar .navbar-search{
	padding-top: 10px;
}

.divLogoIntraLM{
	margin-top: 10px;
}

.pagination ul {
	
	li.active > a,
	li.active > a:hover {
		background: @orange;
		color: @white;
		font-size: @baseFontSize + 1;
		margin-top: 3px;
		padding-top: 1px;
		padding-bottom : 0;
	}
}

.pagination  a {
		margin-top: 3px;
}
