<?xml version="1.0"?>
<module>

  <links>
  
    <!-- PageClasseur bottom buttons -->
    <link id="addFolder">
      <category>BOTTOM_ACTIONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>
    
    <link id="deleteSelection">
      <category>BOTTOM_ACTIONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>
    
    <!-- Page description buttons -->
    <link id="PageDescriptionModifyBt">
      <category>PAGE_DESCRIPTION_BEFORE_BUTTONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>
    
    <link id="PageDescriptionSaveBt">
      <category>PAGE_DESCRIPTION_AFTER_BUTTONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>
    
    <link id="PageDescriptionCancelBt">
      <category>PAGE_DESCRIPTION_AFTER_BUTTONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>
    
  </links>

</module>