<?xml version="1.0"?>
<module>

  <links>
    <!-- PageClasseur bottom buttons -->
    <link id="addFolder">
      <category>BOTTOM_ACTIONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>

    <link id="deleteSelection">
      <category>BOTTOM_ACTIONS</category>
      <type>PageClasseur</type>
      <guard>Write</guard>
    </link>

    <!-- Page description buttons -->
    <link id="PageDescriptionModifyBt">
      <category>PAGE_DESCRIPTION_BEFORE_BUTTONS</category>
      <guard>permission=Write AND (type=Site OR PageClasseur OR type=PageBlocs OR type=HtmlPage)</guard>
    </link>

    <link id="PageDescriptionSaveBt">
      <category>PAGE_DESCRIPTION_AFTER_BUTTONS</category>
      <guard>permission=Write AND (type=Site OR PageClasseur OR type=PageBlocs OR type=HtmlPage)</guard>
    </link>

    <link id="PageDescriptionCancelBt">
      <category>PAGE_DESCRIPTION_AFTER_BUTTONS</category>
      <guard>permission=Write AND (type=Site OR PageClasseur OR type=PageBlocs OR type=HtmlPage)</guard>
    </link>

	<!-- TODO -->
    <link id="SiteAdminAssets" path="/@views/administer_assets">
      <type>Site</type>
      <guard>Everything</guard>
      <!-- 
      <guard>permission=Everything AND type=Site</guard>
       -->
      <category>SITE_ADMINISTRATION_TABS</category>
    </link>

  </links>

</module>