@import "labs.less";

@fluidGridColumnWidth:    6.2%;

@labsPageWidth: (@gridRowWidth + (2 * @gridGutterWidth));

@labsNewsSummaryWidth: 760px;

.navbar {
	width: @labsPageWidth;
	margin: auto;
 	position: relative;
}

#FKtopContent,#FKfooter {
  width: @labsPageWidth;
}

#FKfooter {
  margin: auto;
 }