
// Sprite icons path
@iconWhiteSpritePath:     "../../img/glyphicons-halflings-white.png";

#FKerrorLogin {
  color: @errorText;
  display:none;
  line-height: @navbarHeight;
}

.actionExternalURL {
    text-align: right;
}
.actionExternalURL>IMG {
    //float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 -3px;
    cursor:pointer;
}
.actionExternalURL {
    float: right;
}

.actionExternalURL.actionAdd {
    width: 100%;
}

#jstree {
    background-color: transparent;
}

.dropzonehighlighted {
    background-color: lightgrey;
    border-color: white;
    color: white;
}

.bloc {
  word-wrap: break-word;
  background-color: #fff;
  margin-bottom: 10px;
  min-height: 40px;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  padding:5px;
  .border-radius(4px);
  .box-shadow();

  .header {
    margin:-5px -5px 0px -5px;
    min-height:20px;
    padding-left:1em;
    .border-radius(4px 4px 0px 0px);
    #gradient > .vertical-three-colors(#ffffff, #ffffff, 25%, darken(#ffffff, 10%));

    a {
      color: @gray;
    }
  }

  &.welcome {
    float:left;
    margin-right:8px;
  }

}
