/*-------------------------------------------
------------------VARIABLES LESS-------------
*/


@labsBlockBackgroundColor: @white;
@labsBlockHeaderBackgroundColor: @labsBlockBackgroundColor;

@labsModalBackgroundColor: @labsBlockBackgroundColor;


// Sprite icons path
@iconWhiteSpritePath:     "../../img/glyphicons-halflings-white.png";



/*---------------------------------------------------
---------------------FK------------------------------
*/


#FKerrorLogin {
  color: @errorText;
  display:none;
  line-height: @navbarHeight;
}

#FKtopContent {
  margin: auto;
  /*background-color: white;
  .box-shadow(1px 1px 1.2em #555);
  margin-bottom: 1.5em;*/
}



/*---------------------------------------------------------
---------------------SIDEBAR--------------------------------
*/


//siteMap
div#siteMap {
    margin-top: 6px;
}

// External URL
.actionExternalURL {
    text-align: right;
    float: right;
    >IMG {
	    //float: left;
	    padding: 0 0 0 0;
	    margin: 0 0 0 -3px;
	    cursor:pointer;
	}
	&.actionAdd {
	    width: 100%;
	}
}

// sidebar blocks
.bloc {
  word-wrap: break-word;
  background-color: @labsBlockBackgroundColor;
  margin-bottom: 10px;
  min-height: 40px;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  padding:5px;
  .border-radius(4px);
  .box-shadow();

  .header {
    margin:-5px -5px 0px -5px;
    min-height:20px;
    padding-left:1em;
    .border-radius(4px 4px 0px 0px);
    #gradient > .vertical-three-colors(@labsBlockHeaderBackgroundColor, @labsBlockHeaderBackgroundColor, 25%, darken(@labsBlockHeaderBackgroundColor, 10%));

    a {
      color: @gray;
    }
  }

  &.welcome {
    float:left;
    margin-right:8px;
  }

}

//Comments
.labscomments {

	&.text{
    	width:510px;
    	height:75px;
    }

	&.comment{
      display: block;
	  padding: 5px;
	  border: 1px dashed #CCC;
	  padding: 5px 5px 0;
    }
    
    &.comment > span{
	  display: block;
	  margin-bottom: 10px;
	  color: black;
	}

	&.display{
		background-image: url(../../../images/comments.png);
		background-repeat: no-repeat;
		background-position:center;
		cursor: pointer;
		width: 15px;
		
			&.noComments{
				opacity:0.3;
			}
	}
	
	&.noComments{
		opacity:0.3;
	}

	&.delete{
	  background-image: url(../../images/x.gif);
	  background-repeat: no-repeat;
	  background-position:center;
	  height: 100%;
	  position: relative;
	  top: 0px;
	  width: 15px;
	  right: 5px;
	  cursor: pointer;
	  float: right;
	  margin-bottom: 0;
	}
	
	&.author {
	  color:grey;
	  font-style:italic;
	  padding-top:5px;
	}
	
	&.by {
	  font-size: 11px;
  	  display: inline-block;
  	  width: 100%;
	}
	
	&.by > span {
	  color: #ff9a00;
	  font-weight: bold;
	}
	
	&.footer {
	  display: inline;
	  font-size: 10px;
  	  color: #797a7b;
 	  margin-top: 3px;
 	  margin-bottom:0;
	}
	
	&.footer > span {
	  
	}
}

li.labscomments {
  position: relative;
  padding-left: 0px;
  padding-bottom: 15px;
}


/*--------------------------------------------------------
-------------------------MODAL DIALOG2--------------------
*/

// modal popups
.modal, .modal-footer {
    background-color: @labsModalBackgroundColor;
}


#jstree {
    background-color: transparent;
}

.dropzonehighlighted {
    background-color: lightgrey;
    border-color: white;
    color: white;
}

.jcrop img{
	max-width: none
}

.jsTreeControlsContent {
    float: left;
    max-width: 269px;
}
