@import "bootstrap.less";
@import "../theme/Amelia/bootswatch.less";
@import "../theme/Amelia/variables.less";
@import "../theme/labs-fixed.less";
@import "../theme/default-titles-variables.less";
@import "../theme/titles-style.less";

@labsContentBackgroundColor: transparent;

// Bug theme
select {
    padding: 6px;
}

// search input in nav bar
.navbar-form input, .navbar-form .btn {
/*
    margin-top: 15px;
*/
}

// modal popups
.modal, .modal-footer {
    background-color: #3CB9C6;
}

// sidebar blocks
.bloc {
    background-color: #3CB9C6;
    > .header {
        color: @black;
    }
}

// Pages admin
.jsTreeControlsContent {
    max-width: 400px;
}

#configGadgetExternalLinksListDiv ul > li {
    line-height: @baseLineHeight + 13px;
}

