body {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

div#header {
	width: 100%;
	height: 100px;
	background-color:#00CCFF;
}

div#footer {
	width: 100%;
	height: 150px;
	background-color:#33FF99;
}
div#content {
	width: 100%;
	height: 600px;	
}
div#comment {
	width: 100%;	
	height: 70px;
}