#content span {
	padding: 0 10px;
	font-family: arial,sans-serif;
	font-size: 11px;
}

#content span.colIcon {
	width: 10px;
	padding-top: 2px;
}

#content span.colFileName {
	font-weight: bold;
	width: 350px;
}

#content span.colModified {
	width: 160px;
}

#content div.colActions {
	margin-left: 5em;
}

