/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 2px;
  margin-bottom: 2px;
}
.show-grid .column, .show-grid .columns {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
}
.show-grid:hover .columns {
  background: rgba(0, 0, 0, 0.25);
}
