div.hiddenNews {
	font-style: italic;
	text-decoration: line-through;
}
div.newsContent{
	margin-top: 2px;
}
div.dateNews{
	line-height: 5px;
	min-height: 20px;
}
div.labsNewsStartPublicationDDMM{
	display: none;
}
img.summaryPictureNews{
	margin-top: 5px;
}
h2.titleHeaderNews{
	line-height: 24px;
}