.classeur {
	width: 100%;
	margin: 10px;
}

.classeur p {
	clear: both;
	width: 100%;
	margin: 3px;
}

.sortValue {
	display: none;
}

.classeur.folderActions {
	width: auto;
}

.form-dropfile {
	float: left;
}

.form-removefolder {
	float: left;
}

.form-bt-addfile {
	float: left;
}

#fichier_description {
	width: 99%;
}

#form-addfile label {
	width: 100%;
	font-weight: bold;
}

#form-addfile label:after {
	content: " :";
	width: 100%;
}

#form-addfile p {
	width: 100%;
}

.classeurbouton:hover {
	cursor: pointer;
}

#classeurBottomActions {
	margin-top: 1em;
	padding-bottom: 1em;
}

.closedropzone {
	display: none;	
}

.dropzoneStyle {
	border-style: dashed;
	border-color: lightgrey;
	height: 4em;
	color: lightgrey;
	float: right;
	-moz-border-radius: 0.7em;
}

.dropzoneStyle span {
	font-weight: bold;
	font-size: 13px; 
	
}

#dropFolderTitle:before,#dropFolderTitle:after {
	content: "'";
}

.dropzonehighlighted {
	background-color: lightgrey;
	border-color: white;
	color: white;
}
