.classeur {
	width: 900px;
	margin: 10px;
}

.classeur p {
	clear: both;
	width: 100%;
	margin: 3px;
}

div.row {
	border-bottom: 1px solid;
	border-top:none;
}

.classeur span {
	float: left;
	padding: 0 10px;
	font-family: arial,sans-serif;
	font-size: 11px;
}

.classeur span.colCheckBox {
	width: 10px;
}

.classeur span.colIcon {
	width: 10px;
	padding-top: 2px;
}

.classeur span.colFileName {
	width: 350px;
}

.classeur span.colDescription {
	width: 150px;
}

.classeur span.colFilesize {
	width: 70px;
}

.classeur span.colVersion {
	width: 20px;
}

.classeur span.colModified {
	width: 160px;
}

.classeur span.colCreator {
	width: 80px;
}

.classeur span.colFolderTitle {
	width: auto;
	font-weight: bold;
}

.classeur span.colDelete {
	width: auto;
}

.form-removefolder {
	float: right;
}

.form-bt-addfile {
	float: left;
}

#fichier_description {
	width: 99%;
}

#form-addfile label {
	width: 100%;
	font-weight: bold;
}

#form-addfile label:after {
	content: " :";
	width: 100%;
}

#form-addfile p {
	width: 100%;
}

.classeurbouton:hover {
	cursor: pointer;
}
