.control-group > label{
  font-weight: bold;
}

.pageList {
  border: 1px solid #BBB;
}
#divFormManageList{
  position: relative;
}
#divListHeader{
  width:245px;
  border: none;
}
#ul_action_on_header{
  left: 0px;
  list-style: none;
}
#ul_action_on_header>li{
  padding-left: 3px;
  line-height: 23px;
}
.actionOnHeader{
  cursor: pointer;
  position: relative;
  left: -25px;
  width: 225px;
}
.listHeaderTitle{
  font-weight: bold;
}
.lineHeaderMoveUp{
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 3px;
  width: 15px;
  right: 45px;
  background-image: url(../images/arrow-up.png);
  background-repeat: no-repeat;
}
.lineHeaderMoveDown{
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 2px;
  width: 15px;
  right: 25px;
  background-image: url(../images/arrow-down.png);
  background-repeat: no-repeat;
}

.lineHeaderMoveDelete{
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 3px;
  width: 15px;
  right: 5px;
  background-image: url(../images/x.gif);
  background-repeat: no-repeat;
}

#divEditHeader{
  float: right;
  position: absolute;
  width: 275px;
  border: 3px solid #BBB;
  margin-left: 0;
  overflow-y: auto;
  height: 365px;
}
#divContainerEditHeader{
  float: right;
  position: absolute;
  width: 270px;
  border: none;
  margin-left: 0;
}
.lineOptionsDelete{
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 26px;
  width: 15px;
  right: 14px;
  background-image: url(/nuxeo/site/skin/labs/images/x.gif);
  background-repeat: no-repeat;
}
.div_edit_one_option{
  position: relative;
  margin-left: 12px;
}
.input_headerOption{
  width: 180px;
  margin-bottom: 0px;
}
.divActionManageList{
  position: relative;
}
.lineHeaderSelected{
  background-color: #BBB;
}
.titleEditBlocs{
  text-align: center;
}

table.arrayPageList tr.hidden td {
  font-style: italic;
  text-decoration: line-through;
}