.sidebarzone {
	border: 1px solid white;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	background-color: lightSalmon;
	
}
.sidebarzone > div.title {
	font-weight: bold;
	width: 100%;
	color: white;
}